.form_container {
  width: 800px;
  margin: 0 auto;
  margin-top: 24px;
  text-align: center;
  border-radius: 25px;
}

.form_container h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 42px;
  display: inline-block;
  margin-top: 23px;
  margin-right: 35px;
  text-decoration: none;
  color: #333333;
}

.form_container h1::before {
  display: inline-block;
  width: 235px;
  height: 1px;
  margin-right: 30px;
  margin-bottom: 13px;
  content: '';
  text-decoration: none;
  background-image: url(../images/line-left.png);
}

.form_container h1::after {
  display: inline-block;
  width: 235px;
  height: 1px;
  margin-bottom: 13px;
  margin-left: 30px;
  content: '';
  text-decoration: none;
  background-image: url(../images/line-left.png);
}

.form_container form {
  width: 703px;
  margin: 40px auto;
  margin-left: 109px;
  text-align: left;
  border-radius: 25px;
}

.form_container form input {
  width: 516px;
  height: 44px;
  margin-top: 0;
  text-decoration: none;
  border: 2px solid #c9c9c9;
  border-radius: 3px;
  background-color: #c9c9c9;
  background-color: white;
}

.form_container form input:hover {
  border: 2px solid #a5a5a5;
}

.form_container form input:focus {
  border: 2px solid #15a98b;
}

.form_container form .form_overall {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  line-height: 32px;
  color: #333333;
}

.form_container form .form_overall::after {
  content: ' *';
  color: red;
}

.form_container form .form_overall_two {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  line-height: 32px;
  padding-top: 10px;
  color: #333333;
}

.form_container form select {
  width: 540px;
  height: 50px;
  text-decoration: none;
  border: 2px solid #c9c9c9;
  border-radius: 3px;
  outline: none;
  background-color: white;
  background-color: #c9c9c9;
  background-image: url(../images/arrow_down.png);
  background-repeat: no-repeat;
  background-position: 496px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form_container form select option {
  padding-left: 20px;
  cursor: pointer;
}

.form_container form select:hover {
  border: 2px solid #a5a5a5;
}

.form_container form select:focus {
  border: 2px solid #15a98b;
}

.form_container form #country {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 32px;
  background: none;
  margin-bottom: 42px;
  padding-left: 20px;
  cursor: pointer;
  color: #555555;
  background-color: bac;
}

#name {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 27px;
  padding-left: 20px;
  outline: none;
}

#email {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  margin-top: 3px;
  margin-bottom: 26px;
  padding-left: 20px;
  outline: none;
}

.russia {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 32px;
  cursor: pointer;
  color: #555555;
  background-color: white;
}

.is_green:hover {
  border: 2px solid #15a98b;
}

.choice {
  height: 15px;
  margin-bottom: 54px;
  cursor: default;
}

.choice #choice_first {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 32px;
  float: left;
  width: 13px;
  margin-left: 0;
  color: #333333;
}

.choice #choice_first::after {
  position: relative;
  top: 6px;
  margin-left: 21px;
  content: 'Male';
  cursor: pointer;
}

.choice #choice_second {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 32px;
  width: 13px;
  color: #333333;
}

.choice #choice_second::after {
  position: relative;
  top: 6px;
  margin-left: 21px;
  content: 'Female';
  cursor: pointer;
}

.radio_label {
  margin-left: 116px;
}

.send textarea {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  width: 498px;
  height: 110px;
  margin-top: 3px;
  margin-bottom: 46px;
  padding: 20px;
  resize: none;
  border: 2px solid #c9c9c9;
  outline: none;
}

.send textarea:hover {
  border: 2px solid #a5a5a5;
}

.send textarea:focus {
  border: 2px solid #15a98b;
}

.send .buttom_form {
  font-family: "Georgia", sans-serif;
  font-size: 19px;
  line-height: 32px;
  width: 220px;
  height: 50px;
  text-decoration: none;
  color: whitesmoke;
  border-radius: 5px;
  background-color: #15a98b;
}

.send .buttom_form:hover {
  border-radius: 5px;
  background-color: #15a98b;
}

@media screen and (min-width: 640px) and (max-width: 770px) {
  .form_container h1::after {
    display: none;
  }
  .form_container h1::before {
    display: none;
  }
  .form_container {
    width: 100%;
  }
  .form_container form {
    width: 80%;
  }
  #name {
    padding-left: 3.2%;
    width: 90%;
    height: 44px;
  }
  #email {
    padding-left: 3.2%;
    width: 90%;
    height: 44px;
  }
  .form_container form select {
    width: 94%;
    height: 50px;
  }
  .form_container form select {
    background-position: 97%;
  }
  .send textarea {
    width: 90%;
    height: 120px;
  }
}

@media screen and (min-width: 300px) and (max-width: 639px) {
  .form_container h1::after {
    display: none;
  }
  .form_container h1::before {
    display: none;
  }
  .form_container {
    width: 100%;
  }
  .form_container form {
    width: 80%;
  }
  #name {
    padding-left: 3.2%;
    width: 90%;
    height: 44px;
  }
  #email {
    padding-left: 3.2%;
    width: 90%;
    height: 44px;
  }
  .form_container form select {
    width: 95%;
    height: 50px;
  }
  .form_container form select {
    background-position: 97%;
  }
  .send textarea {
    width: 90%;
    height: 121px;
  }
  .form_container form {
    margin-left: auto;
  }
}

/* nav */
/* nav */
body {
  margin: 0 auto;
}

.page {
  width: 100%;
  margin: 0px auto;
}

.main_container_me {
  width: 1000px;
  margin: 0 auto;
}

/* header * sans-serif*/
.quote {
  float: left;
  width: 570px;
}

.author_name {
  font-size: 16px;
  line-height: 42px;
  color: whitesmoke;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  margin-left: 60px;
  margin-top: -24px;
}

.quote_font {
  width: 566px;
  font-size: 28px;
  line-height: 42px;
  color: white;
  font-family: "Georgia", sans-serif;
  font-style: italic;
  margin-top: 22px;
  margin-left: 60px;
}

.photo {
  width: 330px;
  height: 350px;
  border-radius: 5px;
  background-color: #132d35;
  float: left;
}

.quate_photo {
  position: relative;
  top: 50px;
  right: 41px;
}

div {
  box-sizing: border-box;
}

/* header */
/* aside*/
.left_container {
  width: 305px;
  float: left;
}

.favorite_writers {
  font-size: 24px;
  line-height: 32px;
  color: #15a98c;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  margin-top: 44px;
  margin-bottom: 13px;
}

.counting_first {
  width: 330px;
  font-size: 19px;
  line-height: 36px;
  color: #555555;
  font-family: "Georgia", sans-serif;
  padding-left: 22px;
  margin-top: 0px;
  margin-bottom: 42px;
}

.favorite_films {
  font-size: 24px;
  line-height: 32px;
  color: #15a98c;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  margin-top: 0px;
}

.counting_second {
  width: 330px;
  font-size: 19px;
  line-height: 36px;
  color: #555555;
  font-family: "Georgia", sans-serif;
  padding-left: 19px;
  margin-top: -12px;
}

/* aside  */
/* section */
.right_container {
  width: 570px;
  float: left;
  margin-left: 85px;
  margin-top: -161px;
}

.my_name {
  font-size: 48px;
  line-height: 42px;
  color: #333333;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

.rectangle {
  width: 60px;
  height: 6px;
  border-radius: 3px;
  background-color: #45c3a9;
  margin-top: -19px;
}

.about_me {
  width: 561px;
  font-size: 19px;
  line-height: 32px;
  color: #555555;
  font-family: "Georgia", sans-serif;
  margin-top: 43px;
}

.hobby {
  font-size: 36px;
  line-height: 42px;
  color: #333333;
  font-family: "Open Sans", sans-serif;
  margin-top: 40px;
  margin-bottom: 0px;
}

.hobby_information {
  width: 562px;
  font-size: 19px;
  line-height: 32px;
  color: #555555;
  font-family: "Georgia", sans-serif;
  margin-bottom: 50px;
}

.clear {
  clear: both;
}

.write_me {
  margin-top: 0px;
  margin-bottom: 55px;
}

section {
  float: left;
}

@media screen and (min-width: 980px) and (max-width: 1279px) {
  .main_container_me {
    width: 100%;
    padding-left: 12%;
  }
  .quote {
    width: 400px;
  }
  aside {
    width: 378px;
  }
  .right_container {
    width: 52%;
  }
  .about_me {
    width: 80%;
  }
  .hobby_information {
    width: 80%;
  }
  .right_container {
    margin-left: 10px;
  }
}

@media screen and (min-width: 640px) and (max-width: 979px) {
  .photo {
    width: 200px;
    height: 220px;
  }
  .quote {
    width: 320px;
  }
  .quote_font {
    font-size: 23px;
  }
  .author_name {
    width: 100px;
  }
  .main_container_me {
    width: 100%;
    padding-left: 8%;
    padding-right: 8%;
    margin-top: 190px;
  }
  .left_container {
    margin-bottom: 150px;
  }
  aside {
    width: 100%;
  }
  .left_container {
    width: 100%;
  }
  .counting_first {
    float: right;
    width: 40%;
  }
  .favorite_films {
    margin-top: -45px;
    padding-left: 57%;
  }
  .right_container {
    width: 90%;
    margin-left: 0px;
  }
  .about_me {
    width: 80%;
  }
  .hobby_information {
    width: 80%;
  }
  .right_container {
    clear: both;
  }
  .counting_second {
    float: left;
    padding-left: 15px;
  }
}

@media screen and (min-width: 320px) and (max-width: 639px) {
  .main_container_me {
    margin-top: 93px;
  }
  .photo {
    width: 260px;
    height: 280px;
    display: block;
    float: none;
    margin: 0 auto;
  }
  .quote {
    width: 90%;
    text-align: center;
  }
  .quote_font {
    font-size: 23px;
    color: grey;
    width: auto;
  }
  .author_name {
    width: auto;
    color: grey;
  }
  .main_container_me {
    width: 100%;
    padding-left: 6%;
    padding-right: 2%;
  }
  .main_container_me section {
    float: none;
    width: 90%;
    margin: 0 auto;
  }
  .left_container {
    margin-bottom: 150px;
  }
  aside {
    width: 100%;
  }
  .left_container {
    width: 100%;
  }
  .my_name {
    font-size: 36px;
  }
  .hobby {
    font-size: 34px;
  }
  .right_container {
    width: 90%;
    margin-left: 0px;
  }
  .about_me {
    width: 80%;
  }
  .hobby_information {
    width: 80%;
  }
  .right_container {
    clear: both;
  }
}

.main_container_me {
  position: relative;
  margin-top: 210px;
  margin-bottom: 15px;
  margin-bottom: 13px;
}

aside {
  float: left;
}

.second_part_background {
  width: 100%;
  background-color: #F9F9F9;
}

.second_part {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 60px;
}

.second_part h1 {
  padding-top: 10px;
  font-size: 36px;
  line-height: 42px;
  color: #333333;
  font-family: "Open Sans", sans-serif;
}

.title_film {
  margin-left: -20px;
}

.colum_container {
  margin-left: 0px;
  padding: 0px;
  outline: none;
  border: none;
  margin-left: -20px;
}

.colum_container .colum {
  width: 285px;
  float: left;
  margin-left: 0px;
  margin-right: 20px;
}

.colum_container h1 {
  font-size: 22px;
  line-height: 32px;
  color: #333333;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  margin-top: 10px;
}

.colum_container p {
  width: 285px;
  font-size: 16px;
  line-height: 28px;
  color: #555555;
  font-family: "Georgia", sans-serif;
  margin-top: 0px;
}

.colum_container .colum img {
  width: 285px;
  border-radius: 5px;
  background-color: #454545;
}

.ending_hover {
  display: block;
  width: 220px;
  border-radius: 5px;
  background-color: #15a98b;
  text-decoration: none;
  margin: 0 auto;
  margin-top: 65px;
  margin-bottom: 0px;
}

.ending_hover {
  font-size: 19px;
  line-height: 49px;
  color: whitesmoke;
  font-family: "Georgia", sans-serif;
  text-align: center;
  padding-top: 0px;
  text-decoration: none;
  margin-top: 65px;
}

.ending_hover:hover {
  width: 220px;
  border-radius: 5px;
  background-color: #098d71;
}

footer {
  width: 100%;
  background-color: #F5F5F5;
  margin-bottom: 0px;
}

footer p {
  text-align: center;
  padding-top: 10px;
  margin-bottom: 0px;
  font-size: 16px;
  line-height: 50px;
  color: #555555;
  font-family: "Georgia", sans-serif;
  margin-top: 135px;
}

.clear {
  clear: both;
}

.buttom_form {
  cursor: pointer;
}

@media screen and (min-width: 980px) and (max-width: 1279px) {
  .second_part_background {
    height: 1250px;
  }
  .second_part {
    width: 100%;
    margin: 0 auto;
    padding-left: 10%;
  }
  .colum_container .colum img {
    width: 96%;
    border-radius: 5px;
    background-color: #454545;
  }
  .colum_container p {
    width: 96%;
    font-size: 16px;
    line-height: 28px;
    color: #555555;
    font-family: "Georgia", sans-serif;
    margin-top: 0px;
  }
  .colum_container .colum {
    width: 20%;
    float: left;
    margin-left: 0px;
    margin-right: 20px;
  }
  .ending_hover {
    margin-left: 33%;
  }
}

@media screen and (min-width: 640px) and (max-width: 979px) {
  .second_part {
    width: 100%;
    margin: 0 auto;
    padding-left: 5%;
    margin-bottom: 50px;
  }
  .colum_container .colum img {
    width: 100%;
    border-radius: 5px;
    background-color: #454545;
  }
  .colum_container p {
    width: 100%;
    font-size: 19px;
    line-height: 28px;
    color: #555555;
    font-family: "Georgia", sans-serif;
  }
  .colum_container .colum {
    width: 40%;
    float: left;
    margin-left: 0px;
    margin-right: 9.6%;
    margin-top: 0px;
  }
  #small_colum {
    clear: both;
  }
  .colum {
    margin-top: 20px;
  }
  .ending_hover {
    margin-left: 33%;
  }
  .counting_second {
    width: 170px;
  }
}

@media screen and (min-width: 320px) and (max-width: 639px) {
  .second_part {
    width: 100%;
    margin: 0 auto;
    padding-left: 9%;
    margin-bottom: 50px;
  }
  .colum_container .colum img {
    width: 100%;
    border-radius: 5px;
    background-color: #454545;
  }
  .colum_container p {
    width: 100%;
    font-size: 19px;
    line-height: 28px;
    color: #555555;
    font-family: "Georgia", sans-serif;
  }
  .colum_container .colum {
    width: 85%;
    float: left;
    margin-left: 0px;
    margin-right: 9.6%;
    margin-top: 0px;
    margin-top: 10px;
  }
  #small_colum {
    clear: both;
  }
  .colum {
    margin-top: 20px;
  }
  .ending_hover {
    margin: 0 auto;
    width: 150px;
  }
  .ending_hover:hover {
    width: 150px;
  }
}

@media screen and (min-width: 320px) and (max-width: 979px) {
  footer p {
    line-height: 30px;
  }
}

/* nav  */
html {
  overflow-x: hidden;
}

header {
  width: 1000px;
  margin: 0 auto;
}

nav {
  height: 49px;
  font-size: 19px;
  color: #333333;
  font-family: "Georgia", sans-serif;
}

.icon_first, .icon_second, .icon_third, .background {
  background-repeat: no-repeat;
}

/* nav  */
nav a {
  color: #333333;
  font-family: "Georgia", sans-serif;
  line-height: 32px;
  text-decoration: none;
  display: block;
}

nav span {
  text-decoration: none;
}

.icon_first {
  width: 96px;
  height: 49px;
  float: left;
  padding: 10px 0px 0px 45px;
  background-image: url(../images/about_me.png);
  background-position-x: 20px;
  background-position-y: 16px;
}

.icon_first:hover {
  background-color: #15A98C;
  font-size: 19px;
  line-height: 32px;
  color: whitesmoke;
  font-family: "Georgia", sans-serif;
  background-image: url(../images/about_me_hover.png);
}

.icon_second {
  width: 160px;
  height: 49px;
  float: left;
  text-align: center;
  padding: 10px 0px 0px 8px;
  background-image: url(../images/hobbie.png);
  background-position-x: 18px;
  background-position-y: 16px;
}

.icon_second:hover {
  background-color: #15A98C;
  font-size: 19px;
  line-height: 32px;
  color: whitesmoke;
  font-family: "Georgia", sans-serif;
  background-image: url(../images/hobbie_hover.png);
}

.icon_third {
  float: left;
  width: 169px;
  height: 49px;
  padding: 10px 0px 0px 39px;
  background-image: url(../images/films.png);
  background-position-x: 12px;
  background-position-y: 16px;
}

.icon_third:hover {
  background-color: #15A98C;
  font-size: 19px;
  line-height: 32px;
  color: whitesmoke;
  font-family: "Georgia", sans-serif;
  background-image: url(../images/films_hover.png);
}

.icon_text_first {
  padding-left: 39px;
}

.icon_text_second {
  padding-left: 20px;
}

.icon_text_third {
  padding-left: 45px;
}

.background {
  background-image: url(../images/background.png);
  background-position: right bottom;
  width: 100%;
  margin: 0 auto;
  height: 400px;
  margin: 0 auto;
  position: absolute;
  left: 0px;
}

@media screen and (min-width: 980px) and (max-width: 1279px) {
  header {
    margin-left: 12%;
  }
}

@media screen and (min-width: 640px) and (max-width: 979px) {
  header {
    margin-left: 8%;
  }
}

@media screen and (max-width: 639px) {
  header {
    margin-left: 8%;
    width: 100%;
    height: 100px;
    margin: 0 auto;
    background-image: url(../images/burger.png);
    background-repeat: no-repeat;
    background-position-x: 20px;
    background-position-y: 25px;
  }
  .background {
    background-image: url(../images/background.png);
    background-position: right bottom;
    width: 100%;
    margin: 0 auto;
    height: 300px;
    margin: 0 auto;
    position: absolute;
    left: 0px;
    top: 100px;
    overflow-x: hidden;
  }
  nav {
    display: none;
  }
}

@media screen and (max-width: 319px) {
  html {
    overflow-x: visible;
  }
}
