h1
{
    text-align: center;
    font-size: 300px;
    color: #5BE5CA;
}

body
{
    background-color:  #33485D;
    margin: 0 auto;
    overflow: hidden;
}

button
{
    font-size: 56px;
    background-color: #283360;
    border-color: #33485D;
    text-decoration: none;
    cursor: pointer;
    color:  #5BE5CA;
    margin-left: 43%;
    margin-top: 50px;
}
