$main_font: 'Open Sans', sans-serif;
$line_width: 235px;
$main_font_two: 'Georgia', sans-serif;
$border: 2px solid #c9c9c9;
$background_color: white;
$border_focus: 2px solid #15a98b;
$border_hover: 2px solid #a5a5a5;
$is_green_hover: 2px solid #15a98b;



.form_wrapper
{
    position: fixed;
    height: 100%;
    overflow: auto;
    z-index: 2;
}

#overlay
{
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, .5);
  z-index: 1;
  display: none;
  cursor: pointer;
  
}

#close_form
{
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

.form_container
{
    width: 660px;
    height: 780px;
    margin: 0 auto;
    margin-top: 24px;
    margin: auto;
    border-radius: 10px;
    background-color: #ffffff;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    display: none;
    text-align: center;
    #overlay
    {
      content: '';
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: rgba(0, 0, 0, .5);
      z-index: 1;
    }


    border-radius: 25px;

    h1
    {
        font-family: $main_font;
        font-size: 36px;
        font-weight: 400;
        line-height: 42px;
        padding-right: 442px;

        display: inline-block;

        margin-top: 46px;

        text-decoration: none;

        color: rgb(51,51,51);

    }

    form
    {
        width: 600px;
        margin: 0 auto;
        margin-left: 31px;

        text-align: left;

        border-radius: 25px;

        input
        {
            width: 516px;
            height: 44px;
            margin-top: 0;

            text-decoration: none;

            border: $border;
            border-radius: 3px;
            background-color: #c9c9c9;
            background-color: $background_color;
        }

        input:hover
        {
            border: $border_hover;
        }

        input:focus
        {
            border: $border_focus;
        }

        .form_overall
        {
            font-family: $main_font;
            font-size: 20px;
            line-height: 32px;

            color: rgb(51,51,51);
            &::after
            {
                content: ' *';

                color: red;
            }
        }

        .form_overall_two
        {
            font-family: $main_font;
            font-size: 20px;
            line-height: 32px;

            padding-top: 10px;

            color: rgb(51,51,51);
        }

        select
        {
            width: 540px;
            height: 50px;

            text-decoration: none;

            border: $border;
            border-radius: 3px;
            outline: none;
            background-color: $background-color;
            background-color: #c9c9c9;
            background-image: url(../images/arrow_down.png);
            background-repeat: no-repeat;
            background-position: 496px;

            -webkit-appearance: none;
               -moz-appearance: none;
                    appearance: none;

            option
            {
                padding-left: 20px;

                cursor: pointer;
            }
        }

        select:hover
        {
            border: $border_hover;
        }

        select:focus
        {
            border: $border_focus;
        }

        #country
        {
            font-family: $main_font;
            font-size: 18px;
            line-height: 32px;
            background: none;

            margin-bottom: 42px;
            padding-left: 20px;

            cursor: pointer;

            color: rgb(85,85,85);
            background-color: bac;
        }
    }
}


#name
{
    font-family: $main_font;
    font-size: 18px;

    margin-top: 5px;
    margin-bottom: 27px;
    padding-left: 20px;

    outline: none;
}

#email
{
    font-family: $main_font;
    font-size: 18px;

    margin-top: 3px;
    margin-bottom: 26px;
    padding-left: 20px;

    outline: none;
}

.russia
{
    font-family: $main_font;
    font-size: 18px;
    line-height: 32px;

    cursor: pointer;

    color: rgb(85,85,85);
    background-color: $background_color;
}

.is_green:hover
{
    border: $is_green_hover;
}

.choice
{
    height: 15px;
    margin-bottom: 54px;
    cursor: default;
}

.choice
{
    #choice_first
    {
        font-family: $main_font;
        font-size: 18px;
        line-height: 32px;

        float: left;

        width: 13px;
        margin-left: 0;

        color: rgb(51,51,51);

        &::after
        {
            position: relative;
            top: 6px;

            margin-left: 21px;

            content: 'Male';
            cursor: pointer;
        }
    }

    #choice_second
    {
        font-family: $main_font;
        font-size: 18px;
        line-height: 32px;

        width: 13px;

        color: rgb(51,51,51);
        &::after
        {
            position: relative;
            top: 6px;

            margin-left: 21px;

            content: 'Female';
            cursor: pointer;
        }
    }
}

.radio_label
{
    margin-left: 116px;
}

.send
{
    textarea
    {
        font-family: $main_font;
        font-size: 18px;

        width: 498px;
        height: 50px;
        margin-top: 3px;
        margin-bottom: 29px;
        padding: 20px;

        resize: none;

        border: $border;
        outline: none;
    }

    textarea:hover
    {
        border: $border_hover;
    }

    textarea:focus
    {
        border: $border_focus;
    }

    .buttom_form
    {
        font-family: $main_font_two;
        font-size: 19px;
        line-height: 32px;

        width: 220px;
        height: 50px;

        text-decoration: none;

        color: rgb(245,245,245);
        border-radius: 5px;
        background-color: #15a98b;
    }

    .buttom_form:hover
    {
        border-radius: 5px;
        background-color: #15a98b;
    }

}

@media screen and (min-width: 640px ) and (max-width: 770px)
{
    .form_container h1
    {
        &::after
        {
            display: none;
        }

        &::before
        {
            display: none;
        }
    }

    .form_container
    {
        width: 100%;
        form
        {
            width: 80%;
        }
    }

    #name
    {
        padding-left: 3.2%;
        width: 90%;
        height: 44px;
    }

    #email
    {
        padding-left: 3.2%;
        width: 90%;
        height: 44px;
    }

    .form_container form select
    {
        width: 94%;
        height: 50px;

    }
    .form_container form select
    {
        background-position: 97%;
    }

    .send textarea
    {
        width: 90%;
        height: 120px;
    }
}

@media screen and (min-width: 300px ) and (max-width: 639px)
{
    .form_container h1
    {
        &::after
        {
            display: none;
        }

        &::before
        {
            display: none;
        }
    }

    .form_container
    {
        width: 100%;
        form
        {
            width: 80%;
        }
    }

    #name
    {
        padding-left: 3.2%;
        width: 90%;
        height: 44px;
    }

    #email
    {
        padding-left: 3.2%;
        width: 90%;
        height: 44px;
    }

    .form_container form select
    {
        width: 95%;
        height: 50px;

    }

    .form_container form select
    {
        background-position: 97%;
    }

    .send textarea
    {
        width: 90%;
        height: 121px;
    }

    .form_container form
    {
        margin-left: auto;
    }


}
