body
{
    background-color: white;
    color: black;
}
/* header*/
.photo
{
    width: 330px;
    height: 350px;
    border-radius: 5px;
    background-color: #132d35;
    color: black;

}
.image_position
{
    position: relative;
    top: 50px;
    left: 85px;
}

.comma
{
      width: 200px;
      height: 100px;
      border-radius: 85px;
      font-size: 200px;
      font-family: "Open Sans";
      color: rgb(245,245,245);
      position: relative;
      bottom: 25px;
      right: 50px
}
.blackquate
{
      width: 500px;
      height: 470px;
      font-size: 28px;
      line-height: 42px;
      color: rgb(132,132,132);
      font-family: "Georgia";
      font-style: italic;
}
.quate_position
{
    position: relative;
    left: 540px;
    bottom: 280px;
}
.quate_information
{
     position: relative;
     bottom: 45px;
     width: 10px;
     height: 20px;

}
.person_name
{
    font-size: 16px;
    line-height: 42px;
    color: rgb(51,51,51);
    font-family: "Open Sans";
    font-weight: bold;
    position: relative;
    bottom: 30px;
}
/*header*/

/*asidde*/
.personal_interests
{
    position: relative;
    left: 85px;
    bottom: 100px;
}
.interests_names
{
    font-size: 24px;
    line-height: 32px;
    color: rgb(21,169,140);
    font-family: "Open Sans";
    font-weight: bold;
}
ul
{
    width: 330px;
    height: 260px;
    font-size: 19px;
    line-height: 36px;
    color: rgb(85,85,85);
    font-family: "Georgia";
}
ol
{
    width: 330px;
    height: 260px;
    font-size: 19px;
    line-height: 36px;
    color: rgb(85,85,85);
    font-family: "Georgia";
    position: relative;

}
.authors
{
    position: relative;
    bottom: 50px;
}
.films
{
     position: relative;
     bottom: 150px;
}
/*aside*/

/*article*/
.main_part
{
    position: relative;
    width: 500px;
    height: auto;
    left: 480px;
    bottom: 830px;
}
.rectangle
{
  width: 60px;
  height: 6px;
  border-radius: 3px;
  background-color: #45c3a9;
}
.my_name
{
    font-size: 48px;
    line-height: 42px;
    color: rgb(51,51,51);
    font-family: "Open Sans";
    font-weight: bold;
}
.about_me_information
{
    width: 561px;
    height: 198px;
    font-size: 19px;
    line-height: 32px;
    color: rgb(85,85,85);
    font-family: "Georgia";
    position: relative;
    top: 35px;
}
.my_hobby
{
    font-size: 36px;
    line-height: 42px;
    color: rgb(51,51,51);
    font-family: "Open Sans";
    position: relative;
    top: 40px;
}

/*article*/



/*footer*/
.final_part
{
    position: relative;
    bottom: 10px;
    width: 100px;
    height: auto;

}
.write_me
{
    width: 562px;
    height: 263px;
    font-size: 19px;
    line-height: 32px;
    color: rgb(21,169,139);
    font-family: "Georgia";
}
/*footer*/
